name: CITestsNightlies
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        SETUP: ["/cvmfs/sw-nightlies.hsf.org/key4hep/setup.sh"]
    steps:
    - uses: actions/checkout@v2
    - uses: cvmfs-contrib/github-action-cvmfs@v1
      with:
        cvmfs_repositories: 'sw.hsf.org,sw-nightlies.hsf.org,sft-nightlies.cern.ch,sft.cern.ch,geant4.cern.ch'
    - name: Start container
      run: |
        docker run -it --name CI_container -v ${GITHUB_WORKSPACE}:/Package -v /cvmfs:/cvmfs:shared -d clicdp/cc7-lcg /bin/bash
    - name: Setup container
      run: |
        docker exec CI_container /bin/bash -c " ln -s /usr/lib64/liblzma.so.5.2.2 /usr/lib64/liblzma.so;"

    - name: Compile
      run: |
        docker exec CI_container /bin/bash -c 'cd ./Package;\
        source ${{ matrix.SETUP }};\
        mkdir build install;\
        cd build;\
        cmake -DCMAKE_INSTALL_PREFIX=../install -DBUILD_TESTING=ON ..;\
        make -j `getconf _NPROCESSORS_ONLN` install;'

    - name: Test
      run: |
        docker exec CI_container /bin/bash -c 'cd ./Package; source ${{ matrix.SETUP }};\
         cd build;\
         ctest -j `getconf _NPROCESSORS_ONLN`; --output-on-failure;'
